[submodule "external/Unity"]
	path = external/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
	branch = master
[submodule "external/msg-core"]
	path = external/msg-core
	url = https://github.com/papawattu/msg-core.git
	branch = master
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
